*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img
{
    outline: none;
}
html,body
{
    width: 100%;
    height: 100%;
}
.container
{
    width: 100%;
    height: 100%;
    background-color: #f0f1f4;
}
.clearfix
{
    clear: both;
}
.header
{
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
}
.left
{
    float: left;
    margin: 16px 0 0 42px;
}
.head1
{
    width: 24px;
    height: 24px;
    
}
.h1
{
    font-size: 18.3px;
    color: #372d2b;
    display: inline-block;
    padding: 8px;
    vertical-align: top;
    padding-top: 3px;
}
.right
{
    float: right;
}
.box1
{
    width: 58px;
    height: 60px;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    display: inline-block;
}
.box2
{
    width: 96px;
    height: 60px;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    display: inline-block;
}
.Admin
{
    font-size: 14px;
    color: #130c4e;
    display: inline-block;
    vertical-align: top;
    padding-top: 24px;
}
.img1
{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 18px 16px;
}
.content
{
    width: 100%;
    background-color: #f0f1f4;
}
.left1
{
   width: 80px;
   height: 511px;
   float: left;
   box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.06);
   background-color: #fff;
}
ul li
{
    display: block;
}
.sys
{
    width: 24px;
    height: 24px;
    margin: 22px 27px;
}
.right1
{
    height: 513px;
    float: right;
}
.table
{
    width: 1143px;
    height: 463px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    margin: 20px;
}
.header1
{
    width: 100%;
    height: 55px;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.08);
    background-color: #7188f1;
}
.left2
{
    float: left;
}
.box5
{
    display: inline-block;
    height: 55px;
    width: 111px;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    padding: 17px;
}
.right2
{
    float: right;
}
.img2
{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 16px 20px;
}
.box6
{

    height: 55px;
    width: 65px;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.11);
    background-color: #7188f1;
    display: inline-block;
}
.checkbox
{
    display: inline-block;
    
}
table 
{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
input
{
    margin-right: 20px;
}
td, th 
{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr td:last-child
{
    width: 50px;
  height: 24px;
  margin: 0 0 0 79px;
  padding: 5px 6px 4px;
  border-radius: 5px;
  background-color: #55c97c;
}
.lead
{
    font-size: 14px;
    text-align: center;
    color: #1e1756;
    font-weight: lighter;
}
