*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img 
{
  outline:none;
}
html,body
{
 width:100%;
 height:100%;
}
.container
{
    height:100%;
    width:100%;
    border:1px solid black;
}
.box1
{
    height:7%;
    border-bottom:2px solid black;
}
.left
{
    float: left;
    padding: 11px 0px 5px 25px;
}
.cross
{
    float: right;
    padding: 10px 16px 7px 13px;
}
.box2
{
    height: 84%;
    display: inline-block;
    padding: 0px 326px;
}
input[type=text], input[type=password] 
{
    width: 385px;
    height: 12px;
    padding: 18px 17px 17px 7px;
    display: inline-block;
    margin: 16px;
    border: 1px solid #ccc;
    float: right;
}
label
{
    padding: 9px 37px 0 13px;
    float: left;
    margin: 21px;
}
.box3
{
    height:9%;
    text-align:center;
    border-top:2px solid black;
}

.button1
{
    color:#ccc;
    background-color: #444afc;
    margin:12px;
    padding:7px 42px;
    border-radius: 5px;
}
.button2
{
    color:#ccc;
    border-radius: 5px;
    margin:12px;
    padding:7px 42px;

}